<div class="jumbotron">
	<h1 class="text-center">Registro Estoque</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>


<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/roupas" class="btn btn-primary" type="button">
						Buscar
					</a>
				</span>
					
				<input class="form-control" placeholder="Digite o que procura" 
					ng-model="filtro">

				<span class="input-group-btn">
					<a href="/roupas/new" class="btn btn-primary" type="button">
						Novo item
					</a>
				</span>
			</div>
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->



<table class="table">
	<thead>
		<tr>
		<th scope="col">Codigo</th>
		<th scope="col">Data de Entrada</th>
		<th scope="col">Tipo</th>
		<th scope="col">Marca</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="roupa in roupas">
		<td>{{roupa.codigoItem}}</td>
		<td>{{roupa.dataEntrada}}</td>
		<td>{{roupa.tipo}}</td>
		<td>{{roupa.marca}}</td>
		</tr>
</table>